body{
    
    display: flex;
    justify-content: center;
}
.container{
    width: 700px;
    background-color: #98cbfd;
    padding: 0px 50px;
}
.header{
    border: 3px solid black;
    border-radius: 10px;
    width: 300px;
    background-color: aqua;
    box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.5);
}
.header-top{
    border-bottom: 4px solid black;
    text-align: center;
    height: 40px;
}
.header-bottom{
    text-align: center;
    height: 40px;
}
h1{
    padding: 0px;
    margin: 0px;
}
.Commentor{
    width: 400px;
    height: 70px;
}
.Click{
    text-align: center;
}